body {
    margin: 0;
    padding: 0;
}
a,
a:visited {
    color: #48C;
    text-decoration: none;
}
a:hover {
    color: #4A4;
    text-decoration: underline;
}
a[target="_blank"] {
    background: url('/s/open-in-new-window.png') right no-repeat;
    padding-right: 15px
}

.adsense {
    border: 1px dotted gray;
    width: 300px;
    height: 250px;
    margin: 5px 0;
    padding: 0;}

.footer {
    text-align: center;
    margin: 0 auto;
    padding: 5px 5px 20px;
    clear: both}

.head {
    height: 80px;
    padding: 0px;
    margin: 0px;}
.head .logo {
    float: left;
    height: 80px;
    width: 120px;
    padding: 0px;
    margin: 0px;}

.head .slogan,
.head .name {
    font-size: 24px;
    float: left;
    width: 50%;
    padding: 2px;
    margin: 0px;}
.head .name {
    padding-top: 5px;}
.head .slogan {
    padding-left: 25px;
    font-size: 12px;}

.page {
    width: 910px;
    margin: 0 auto;
    padding: 0;
}

.pad {
    width: 560px;
    padding: 20px;
    margin: 0;
    float: left;
}
.col {
    width: 300px;
    margin: 0;
    padding: 0;
    float: left;
}

.pad .title {
    padding: 5px;
    text-align: center;
}

.pad .item {
    vertical-align: text-bottom;
    width: 120px;
    height: 18px;
    margin: 1px;
    padding: 7px;
    float: left;
    border: 1px dotted gray;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.pad .item:hover {
background: #EFE;}

.tag_1, .tag_2, .tag_3, .tag_4, .tag_5 { font-size: 10pt; }
.tag_1 { color: #888; }
.tag_2 { color: #444; }
.tag_3 { color: #0CC; font-weight: bold; }
.tag_4 { color: #F80; font-weight: bold; }
.tag_5 { color: #F00; font-weight: bold; }

.home {
    text-align: center;
    margin: 10px auto;
    clear: both;
}

.container {
    float: left;
    margin: 0px;
    padding: 0px 5px;
    width: 60%;
}

.topic_pad {
    text-align: center;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    background: #CFC;}
.topic_pad:after { 
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;}

.topic_pad .topic_item{
    float: left;
    width: auto;}
.topic_pad .topic {
    width: 98%;
    text-align: center;}

.topic_pad .topic_desc_item {
    padding: 2px 5px;
    font-size: 14px;
}
.highlight {color: #F44;}

.article_body {
    background: url('/s/bg_line.png') repeat-y center;
    margin: 0px;
    padding: 0px;}
.article {
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    width: 48%;
    height: 260px;
    margin: 20px 0px;}
.article:hover {
    background: #FFE;
}
.odd {
    border: 1px solid gray;
    min-height: 190px;
    float: left;}
.even {
    border: 1px solid gray;
    min-height: 190px;
    float: right;}
.evenhead {
    float: right;
    height: 10px;}
    
.article div {
    padding: 2px 5px;}
.odd .date_title {
    text-align: right;}
.even .date_title {
    text-align: left;}

.showmore {
    text-align: center;
    clear: both;
}

.right_panel {
    width: 300px;
    padding: 5px;
}
.right_panel .item {
    padding: 2px 10px;}

.topic_item {
    margin: 10px;
    padding: 5px;
    border: 1px dotted gray;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    }
</style>
