<html>
<head>
<title>新聞包 Newspac</title>
<link rel='stylesheet' href='s/style.css' type='text/css'/>
<!-- google anlytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31427257-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- end of google anlytics -->
</head>
<body>
<div class='page'>

<div class='pad'>
    <div class='title'>Topics</div>
    {% for topic in topics %}
    <div class='item'>
        <a href='topic?topic={{ topic.title }}'>
        {{ topic.title }}
        </a>
        <span class='tag_{{ topic.level }}'>
        ({{ topic.amount }})</span>
    </div>
    {% endfor %}
</div>

<div class='col'>
    <div class='adsense'>


    </div>
</div>

<div class='footer'> </div>
</div>
</body>
</html>
