<html>
<head>
<title>News Timeline</title>
<link rel='stylesheet' href='s/style.css' type='text/css'/>
<style>
.pad {
    width: 60%;
    margin: 5px auto;
    padding: 5px;
}

.title {
    padding: 5px;
    text-align: center;
    //clear: both;
}

.item {
    margin: 5px;
    float: left;
}
</style>

</head>
<body>
<div class='pad'>
    <div class='title'>Topics</div>
    {% for topic in topics %}
    <div class='item'><a href='topic?topic={{ topic }}'>{{ topic }}</a></div>
    {% endfor %}
</body>
</html>
