<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="台灣新聞收藏瀏覽" />
<meta name="keywords" content="議題,時事,台灣新聞,政治新聞,財經新聞" />
<title>新聞包 newspac</title>
<link rel='stylesheet' href='s/style.css' type='text/css'/>
<!-- google anlytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31427257-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- end of google anlytics -->
</head>
<body>
{% include "head.html" %}
<div class='page'>
<div class='pad'>
    <div class='title'>收集到的新聞主題</div>
    {% for topic in topics %}
    <div class='item'>
        <a href='topic?topic={{ topic.title }}'>
        {{ topic.title }}
        </a>
        <span class='tag_{{ topic.level }}'>
        ({{ topic.amount }})</span>
    </div>
    {% endfor %}
</div>

<div class='col'>
    <div class='adsense'>
    {% inclusde adsense.html %}
    </div>
    <div class='right_panel'>
        <div>時事小工具</div>
        <div>&nbsp;<a href='/power_price'>電價漲價試算</a></div>
    </div>
</div>

{% include "footer.html" %}

</div>
</body>
</html>
