{% load news_filters %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="台灣新聞收藏瀏覽" />
<meta name="keywords" content="議題,時事,台灣新聞,政治新聞,財經新聞" />
<title>來源 - {{ source.name }} - 新聞面面觀 Newspac</title>
<link rel='stylesheet' href='s/style.css' type='text/css'/>
<!-- google anlytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31427257-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- end of google anlytics -->
</head>
<body class='source_page'>
{% include "head.html" %}
<div class='container'>
    <div><a href='{{ source.url }}' target='_new'>{{ source.name }}</a></div>
    <div>
    收集到的新聞：
    {% for a in articles %}
        <div class='news_item'>
            <div><a href='article?id={{ a.id }}'>{{ a.title }}</a></div>
        </div>
    {% endfor %}
    <div class='home'><a href='/'>回首頁</a></div>
    </div>
</div>
<div class='col'>
    <div class='adsense'>
    {% include "adsense.html" %}
    </div>
</div>
{% include "footer.html" %}
</body>
</html>
